:root {
    --ecogreen: #00b050;
    --ecogray: #a0a1a3;
}

.cyc-carousel {
    height: 500px;
    box-sizing: border-box;
    background-color: #222222;
    overflow: hidden;
}

.cyc-carousel-content {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.cyc-div-carousel-indicators {
    display: flex;
    position: absolute;
    bottom: 1em;
    /*left: calc(50% - 81.5px);*/
    margin: 0 auto;
    list-style: none;
    width: 100%;
}

.cyc-carousel-indicators {
    display: block;
    margin: 0 auto;
    justify-content: center;
}

.cyc-carousel-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: 0 .5em;
    border-radius: 50%;
    cursor: pointer;
}

.cyc-carousel-indicator-active {
    background-color: #00b050;
}

.cyc-btn-carousel {
    height: 100%;
    width: 90px;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.cyc-btn-carousel-previous {
    left: 0;
    background: url(../IMG/previus_arrow.png) no-repeat;
    background-position: center center;
    background-size: 45px;
}

.cyc-btn-carousel-next {
    right: 0;
    background: url(../IMG/next_arrow.png) no-repeat;
    background-position: center center;
    background-size: 45px;
}

.cyc-carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
}

.cyc-carousel-img {
    display: block;
    width: 100%;
    height: 100%;
}

.cyc-carousel-caption {
    position: absolute;
    bottom: 5.5em;
    left: calc(50% - 360.5px);
    color: #00b050;
}

@media screen and (max-width:1100px) {
    .cyc-carousel {
        height: 350px;
        background-color: #222222;
    }
}

@media screen and (max-width:600px) {
    .cyc-carousel {
        height: 250px;
        background-color: #222222;
    }
}