/* General */

:root {
    --ecogreen: #00b050;
    --ecogray: #a0a1a3;
}

.body {
    background-color: #fff;
    padding-top: 5.99em;
}

.btn-action {
    display: none;
    background: url(../../Assets/IMG/trLine.png) no-repeat;
    background-size: 100%;
    background-position: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.nav-item-cart {
    display: none;
}

/* Login */

.box-login {
    width: 25em;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;
    /*background-color: #f7f7f7;*/
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: var(ecogray);
}

/* Registro */

.box-register {
    width: 35em;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;
    /*background-color: #f7f7f7;*/
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: var(ecogray);
}

/* Acerca */

.box-acerca {
    /*background-color: #f7f7f7;*/
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;
    padding: 3.5em 2.5em;
    border-radius: 17px;
    border-color: var(ecogray);
}

/* MSG */

.error-msg {
    width: 95%;
    background-color: #e325268f;
    color: white;
    margin: 0 auto;
    font-size: 20px;
}

.error-msg-btn {
    border: none;
    background-color: transparent;
    color: white;
    float: right;
    padding-top: -1em;
    cursor: pointer;
    font-size: 20px;
}

/* Index */

.img-index {
    display: block;
    background: url(https://whizzherald.com/wp-content/uploads/2019/03/Air-pollution.jpg) no-repeat;
    background-position: center center;
    background-attachment: inherit;
    background-size: 100% 100%;
    margin: 0 auto;
    width: 70%;
    height: 150%;
}

/* Actividades */

.title-control {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a0a1a3;
}

.btn-control-actividades {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.actividad {
    width: 100%;
    margin: 1em 0;
    border: 1px solid #a0a1a3;
    overflow: hidden;
    border-radius: 17px;
    box-shadow: 0px 0px 5px #000;
    background-color: #f8faf7;
}

.actividad-img {
    display: block;
    float: left;
    width: 8.5em;
    height: 8.5em;
    border-radius: 17px;
    box-shadow: inset 0px 0px 2px #000;
}

.actividad-info {
    display: block;
    padding-left: 1em;
    width: calc(100% - 9.5em);
    float: right;
}

.actividad-titulo {
    font-size: 26px;
}

.actividad-descripcion {
    margin-top: .5em;
    margin-bottom: .5em;
}

@media screen and (max-width:1100px) {
    .btn-action {
        display: initial;
        position: absolute;
        right: 1em;
        background: url(../../Assets/IMG/trLine.png) no-repeat;
        background-size: 100%;
        background-position: center;
        height: 48px;
        width: 48px;
        cursor: pointer;
    }
    .nav-item-cart {
        display: block;
    }
    .body {
        background-color: #fff;
        padding-top: 5.4em;
    }
    .img-index {
        display: block;
        background: url(https://whizzherald.com/wp-content/uploads/2019/03/Air-pollution.jpg) no-repeat;
        background-position: center center;
        background-attachment: inherit;
        background-size: 100% 100%;
        margin: 0 auto;
        width: 70%;
        height: 150%;
    }
    /* Actividad */
    .actividad-img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 11.5em;
        border-radius: 17px;
        box-shadow: inset 0px 0px 2px #000;
    }
    .actividad-info {
        padding-left: 0;
        display: block;
        width: 100%;
    }
    .actividad-titulo {
        text-align: center;
        font-size: 35px;
    }
    .actividad-descripcion {
        text-align: justify;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .actividad-btn {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .nav-item-cart {
        display: block;
    }
    .btn-action {
        display: initial;
        position: absolute;
        right: 1em;
        background: url(../../Assets/IMG/trLine.png) no-repeat;
        background-size: 100%;
        background-position: center;
        height: 48px;
        width: 48px;
        cursor: pointer;
    }
    .box-login {
        width: 20em;
        background-color: #f7f7f7;
        padding: 3.5em 2.5em;
        border-radius: 17px;
        border-color: var(ecogray);
    }
    .box-register {
        width: 20em;
        background-color: #f7f7f7;
        padding: 3.5em 2.5em;
        border-radius: 17px;
        border-color: var(ecogray);
    }
    .body {
        background-color: #fff;
        padding-top: 5.3em;
    }
    .img-index {
        display: block;
        background: url(https://whizzherald.com/wp-content/uploads/2019/03/Air-pollution.jpg) no-repeat;
        background-position: center center;
        background-attachment: inherit;
        background-size: 100% 100%;
        margin: 0 auto;
        width: 70%;
        height: 65%;
    }
    /* Actividad */
    .actividad-img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 11.5em;
        border-radius: 17px;
        box-shadow: inset 0px 0px 2px #000;
    }
    .actividad-info {
        padding-left: 0;
        display: block;
        width: 100%;
    }
    .actividad-titulo {
        text-align: center;
        font-size: 35px;
    }
    .actividad-descripcion {
        text-align: justify;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .actividad-btn {
        display: block;
        width: 100%;
    }
}