/*NAV*/

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 1.5em;
    box-sizing: border-box;
    background-color: #00b050;
    box-shadow: 1px 1px 3px #000;
}

.nav-title {
    color: white;
    font-size: 2.5em;
}

.nav-list {
    position: relative;
    float: right;
    display: flex;
    height: 48px;
    width: 100%;
    list-style: none;
    margin-left: 1.75em;
}

.nav-item a {
    padding: 1em;
}

.nav-item {
    /*padding: 1em;*/
    min-height: 16px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #00a040;
}

/*FOOTER*/

.footer {
    margin-top: 5em;
    height: 9.5em;
    position: inherit;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #222;
    box-shadow: -1.5px -3px 3px #000;
    border-style: double;
    border-width: 0 0 3px 0;
    border-color: #00b050;
}

/*Tableta*/

@media screen and (max-width:1100px) {
    .nav-title {
        font-size: 2em;
    }
    .nav-list {
        width: 15em;
        position: absolute;
        top: 5.5em;
        right: 0;
        display: block;
        height: auto;
        background-color: #00b050;
        box-shadow: 1px 1px 3px #000;
    }
}

/*Celular*/

@media screen and (max-width:600px) {
    .nav-title {
        margin-top: .25em;
        font-size: 1.75em;
    }
    .nav-list {
        width: 15em;
        position: absolute;
        top: 5.5em;
        right: 0;
        display: block;
        height: auto;
        background-color: #00b050;
        box-shadow: 1px 1px 3px #000;
    }
}